# Python (Backend)
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.sqlite3

# Django specific
backend/db.sqlite3
backend/media/
backend/secret_files/

# Node.js (Frontend)
frontend/node_modules/
frontend/dist/

# Environment files
.env