body {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/banner-com-linhas-dra-paula.png");
  background-size: cover;
  background-position: center;
}

.banner-content {
  color: white;
  max-width: 80%;
  padding: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 1s ease-out;
}

.banner-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block; /* Ensures proper rendering as a link */
  background-color: #ff6b00;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
  background-color: #3498db;
  transform: scale(1.05);
}

.cta-button:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 24px;
  }
  .banner-content p {
    font-size: 16px;
  }
  .cta-button {
    font-size: 18px;
    padding: 12px 24px;
  }
}

@media (max-width: 480px) {
  .banner-content h1 {
    font-size: 20px;
  }
  .banner-content p {
    font-size: 14px;
  }
  .cta-button {
    font-size: 16px;
    padding: 10px 20px;
  }
}